<%- include("../../partials/header.ejs") %>
<body>
    <%- include("../../partials/navbar.ejs") %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Edição de categoria</h2>
            </div>

            <div class="card-body">
                <form method="POST" action="/admin/categories/update">
                    <label>Título da Categoria</label>
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <input type="text" class="form-control" placeholder="Defina o título da categoria" name="title" value="<%= category.title %>" required>
                    <br>
                    <button class="btn btn-success">Atualizar</button>
                </form>
            </div>

        </div>
    </div>
</body>
<%- include("../../partials/footer.ejs") %>